#input__container-input {
    height: 100%;
}

#input__suggestions-ul {
    list-style-type: none;
    padding: 0;
}

#input__suggestions-ul li {
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 1em;
    border-bottom: 1px lightgrey solid;
}
#input__suggestions-ul li:hover{
    cursor: pointer;
}