#header__container {
    background-color: #fb6100;
    display: flex;
    gap: 1em;
    min-height: 71px;
}

.header__container-logo {
    padding-left: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header__container-logo h2 {
    color: white;
    display: flex;
    width: fit-content;
}

#header__address {
    color: white;
    display: flex;
    min-width: 0;
    align-items: center;
    justify-content: center;
}
#header__address h3{
    white-space: nowrap;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width:380px) {
    .header__container-logo h2 {
        display: none;
    }
}